<h4> Crackkit was dessigned and built by Staunton Sample as method of learning about application security</h4>

<h4>Have a suggestion? Find a flaw?</h4>
<h5>Email <a href="mailto:Stauntonsample@gmail.com">Staunton</a></h5>
<h5>Github repo: <a href="https://github.com/sbsample/Intro-to-Security">
</a></h5>

