<% if @user && @user.admin == true %>
    <img src="/img/admin_o_1058242.jpg" height="300" width="300">
<% end %>
 

<h2>Welcome to Crackkit</h2>

<h4>This site was designed for you to break. Have Fun! </h4>

<h2> <a href='/about/info'> New to Application Security?</a></h2>

<h2> <a href='/about/answers'> Need Some Answers?</a></h2>


