<h2>Attack Vectors</h2></br>

<p>There are several vectors included in this challenge. Each one of the attacks, listed below, will require research and quite a bit of thought involved in order to execute. Have fun!! </p>

<p>1. Cross Site Scripting (XSS)</p>
<p>2. Weak Params</p>
<p>3. Social Engineering
   <a href='https://twitter.com/stefakana_1979'>Twitter account</a></p>
<p>4. SQL Injection</p>