<form id="post_form" action="/posts" method="post">
  <label for="title">Title:</label><br>
  <input type="text" name="title" ><br>

  <label for="body">Body:</label><br>
  <textarea name="body"></textarea><br>

  <input type="submit" name="submit" value="Submit Post"><br>
</form>
